/************************************************
USE lower_case_underline_naming FOR CSS STYLING!
*************************************************/

#BlogNavbar
{
    padding:17px;
    font-family: 'Raleway', sans-serif;
    font-size:.9rem;
    background-color:#fbfbfb ;
}

.SmallBlogImage, .BigBlogImage
{
    padding:20px;
    margin: 0 auto;
    height:auto;
    
}
.BigBlogImage
{
    width : 80%; 
}
.SmallBlogImage
{
    width : 50%; 
}
