/************************************************
USE lower_case_underline_naming FOR CSS STYLING!
*************************************************/

.project_page_banner
{
     width : 100%; 
     height : auto;
}

.app_store_images
{
    width:100%;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.app_store_images img
{
    margin-top:10px;
    margin-bottom:10px;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1.0; 
    width:64px;
}  

.app_store_images img:hover 
{
    opacity: 0.5; 
}

.itch_io_wrapper
{
    position: relative;
    padding-bottom: 20%; 
    padding-top: 0px;
    height: 0;
}

.itch_io_wrapper iframe 
{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
}
