/************************************************
USE lower_case_underline_naming FOR CSS STYLING!
*************************************************/


#main_content_wrapper
{
    margin:0 auto;
    padding:3px;
    background-color:#d2d6da;
    box-shadow: 1px 3px 20px 0px #808089;
    min-width: 275px;
    
}

#copyright_footer
{
    color: #ebebeb;
    background-color:#3661a2;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;    
    padding: 15px 0;
}


/**************************************************
CSS Resets
***************************************************/

    html 
    {
        -webkit-text-size-adjust: 100%;
        margin:0;
        padding:0;
    }
    body
    {           
        margin: 0;
        background-color: #eeeeee;
    }
    a
    {
        text-decoration: none;
    }
    img
    {
        display: block;
    }
    a img
    {
        border-style: none;
    }
    ul, li, ol
    { 
        vertical-align: top;
    }

/********************************/

    @media only screen and (min-width : 1500px) 
    {
        #main_content_wrapper
        {
            width:70%;
            max-width: 1500px;
        }
    }
    @media only screen and (min-width : 1281px) and (max-width : 1499px) 
    {
        #main_content_wrapper
        {
            width:80%;
        }    
    }

    @media only screen and (min-width : 667px)
    { 
        html 
        {
            font-size: 100%;
        }
    }

    @media only screen and (max-width : 666px) 
    {
        html 
        {
            font-size: 90%;
        }
    }

/********************************/

/*******************************************
Font Includes
********************************************/
    
    @font-face 
    {
      font-family: 'Passion One';
      font-weight: 700;
      src: url(../Fonts/Latin_Passion_One.ttf);
    }

    @font-face 
    {
      font-family: 'Raleway';
      font-weight: 500;
      src: url(../Fonts/Latin_Raleway.ttf)
    }

    @font-face 
    {
      font-family: 'Lobster';
      font-weight: 400;
      src: url(../Fonts/Latin_Lobster.ttf);
    }
    
/********************************/

/******************************************
Used to create Logo type text above nav bar
*******************************************/

    #richie_text_subtitle
    {
        font-family: 'Raleway', sans-serif;
        color: #333333;
        font-size: 1rem;
        letter-spacing: .5px;
        font-weight: bold;
        margin : .5rem 0;
    }

    #richie_text
    {     
        
        font-weight: bold;
        font-family: 'Lobster', cursive;
        color: #272727;
        margin : .5rem 0;
        padding : 0px;
        font-size: 2.7rem;
        letter-spacing: 2px;
    }

/********************************/


/********************************
Used to create the navagation bar
*********************************/

    @media only screen and (min-width : 667px)
    { 
        .navbar_icon_links
        {
            position: absolute;
            right: 0;
            top:0;
            float:right;
            margin: 0px 10px 0px 0px;    
        }
        .navbar_text_links
        {
            float:left;
        }
        .navbar_text_links .text_link a
        {    
            display: block;
            text-decoration: none;
        }   
    }    
    
    @media only screen and (max-width : 666px) 
    {
        .navbar_icon_links
        {
            margin: 12px 0px 12px 0px;    
            text-align: center;
        }

        .navbar_text_links
        {
            text-align: center;
        }

        #navbar_more
        {
            text-align: center;
        }
    }
    
    @media only screen and (min-width : 451px)
    {
        .navbar_text_links .text_link a
        {    
            display: block;
            padding: 12px 15px;
            text-decoration: none;
        }
        .navbar_text_links .text_link
        {
            display: inline-block;
            width:auto;
        }
    }
    
    /*For mobile nav bar*/
    @media only screen and (max-width : 450px) 
    {
        .navbar_text_links .text_link a
        {    
            display: block;
            padding: 12px 0px;
            text-decoration: none;
        }
        .navbar_text_links > .text_link
        {
            display: inline-block;
            width:25%;
            white-space: nowrap;
        }
        #navbar_more .text_link a
        {
            padding: 12px 14px;
        }
    }

    #nav_bar
    {
        background-color: #3661a2;
        padding: 6px;
        overflow: hidden;
        
        border: 3px solid #d2d6da;

        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */   

        width: auto;
        height: auto;    
        position: relative;
    }

    .navbar_text_links, #navbar_more
    {
        margin: 0;
        position: relative;
    }
    .navbar_icon_links, .navbar_text_links, #navbar_more
    {
        padding:0;
        overflow: hidden;
        list-style-type: none;
        vertical-align: top;
    }

    /*Navbar Text Links*/

    .active_nav_text_link
    {
        color : #040b25;
        background-color: white;
    }
    .navbar_text_links .text_link
    {
        word-wrap: break-word;
    }
    .navbar_text_links .text_link a 
    {

        transition-duration: 0.2s;
        transition-timing-function: linear;
        transition-property: background-color, color;

        font-family: 'Raleway', sans-serif;
        text-align: center;
        text-decoration: none;

    }
    .navbar_text_links .text_link a 
    {
        font-weight: bolder;
        font-size: 1rem;
    }
    .navbar_text_links .text_link a:not(.active_nav_text_link)
    {
        color:rgb(235,235,235);
    }
    .navbar_text_links .text_link:hover:not(.mobile) a:not(.active_nav_text_link)
    {
        color: #040b25;
        background-color: white;
    }
    
/*Navbar Icon Styling*/

    .navbar_icon_links li
    {
        display: inline-block;
    }
    .navbar_icon_links li img:hover
    {
        position: relative;
        top:-1px;
    }
    .navbar_icon_links li img
    {
        margin: 10px 5px 0px 5px;
        width:32px;
        height:32px;
    }
    
/*Navbar More Button Styling*/

    #navbar_more .text_link a
    {
        font-weight: bolder;
        font-size: .75rem;
    }
    #navbar_more .text_link
    {
        display: inline-block;
    }
    #navbar_more 
    {
        display:none;
    }
    #navbar_more ul
    {
        padding:0;
    }
    #show_navbar:hover 
    {
        cursor:pointer;
    }
    #show_navbar:focus
    {
        outline: none;
    }

/******************************/
/******************************/


/********************************
Additional CSS used for multiple pages
*********************************/


    /*Media Queries For Generic Text*/

    @media only screen and (min-width : 1800px)
    {
        .generic_page_text
        { 
            margin: 3rem 25%;
        }
    }
    
    @media only screen and (min-width : 841px) and (max-width : 1800px)
    {         
        .generic_page_text
        { 
            margin: 3rem 20%;
        }
    }
    
    @media only screen and (min-width : 751px) and (max-width : 840px)
    {         
        .generic_page_text
        { 
            margin: 3rem 15%;
        }
    }
    
    @media only screen and (min-width : 451px) and (max-width : 750px)
    {
        .generic_page_text
        { 
            margin: 3rem 12%;
        }
    }
    
    @media only screen and (max-width : 450px) 
    {
        .generic_page_text
        { 
            margin: 3rem 5%;
        }
    }

    @media only screen and (min-width : 667px)
    {     
        .generic_page_text p
        {
            margin: 1.75rem 20px;
        }
    }
    
    @media only screen and (min-width : 451px) and (max-width : 666px)
    {
        .generic_page_text p
        {
            margin: 1.75rem 25px;
        }
    }
    
    @media only screen and (min-width : 351px) and (max-width : 450px)
    {    
        .generic_page_text p
        {
            margin: 1.75rem 20px;
        }
    }
    
    @media only screen and (max-width : 350px)
    {  
        .generic_page_text p
        {
            margin: 1.75rem 5px;
        }
    }

    /*Generic Title and Subtitle Header*/

    .generic_header_wrapper
    {
        margin: 2.5rem 0;
    }    
    
    .generic_header_title
    {    
        color: #333;
        font-size: 2.3rem;
        font-weight: bold;
    }

    .generic_header_subtitle
    {
        color: #444;
        font-size: 1.4rem;
        margin-top:15px;
    }

    /*Generic Titles*/

    .generic_title_sm, .generic_title_m, .generic_title_l, .generic_title_xl
    {    
        color: #272727;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;   
    }

    .generic_title_sm
    {    
        margin: 1rem 0;
        font-size: 1.1rem;
    }

    .generic_title_m
    {    
        margin: 1.25rem 0;
        font-size: 1.2rem;
    }

    .generic_title_l
    {      
        margin: 1.5rem 0;
        font-size: 1.6rem;
    }
    .generic_title_xl
    {     
        margin: 1.75rem 0;
        font-size: 2.0rem;
    }

    /*Generic Text*/
    
    .generic_page_text
    {
        color:#333333;
        font-size: 1.05rem;
        line-height: 1.7;
        font-family: 'Raleway', sans-serif;   
    }

    .generic_page_text a
    {
        color: rgb(0,0,200);
    }

    /*Centers text*/

    .text_center
    {    
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }


    /*Makes user not able to highlight text. Browser support isn't very good so dont rely on it.'*/

    .no_select 
    {
        -webkit-touch-callout:  none; 
        -webkit-user-select:    none; 
        -khtml-user-select:     none; 
        -moz-user-select:       none; 
        -ms-user-select:        none;
        user-select:            none;
    }

    /*Used to wrap Youtube videos.*/

    .video_wrapper 
    {
        margin: 20px 0px 20px 0px;
        position: relative;
        padding-bottom: 40%; 
        padding-top: 0px;
        height: 0;
    }
    .video_wrapper iframe 
    {
        border: 6px solid #d2d6da;
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
        height: 100%;
    }

    /*used for simple text posts or other. (normally rests inside main_content_wrapper)*/

    .generic_content_wrapper
    {
        position: relative; 
        height: auto;
        background: #f9f9f9;
        border: 3px solid #d2d6da;

        -webkit-background-clip:    padding-box;
        background-clip:            padding-box; 
    }


    @media only screen and (max-width : 666px) 
    {
        .hide_mobile
        {
            display:none;
        }

        .feature_list
        {
            margin-left: 10px;
        }

        .feature_list .feature_list
        {
            margin-left: 20px;
        }
    }
    
    /*For an OL.*/

    .feature_list
    {
      counter-reset: section;
      list-style: none;
    }

    .feature_list .feature_list
    {
        margin: 5px 0;
    }

    .feature_list li 
    {
        counter-increment: item;
        margin: 10px 0;
        font-family: 'Raleway', sans-serif;
        font-size: .9rem;
    }

    .feature_list li:before 
    {
        margin-right: 10px;
        counter-increment: section;
        content: counters(section, ".") ". ";
        color: #040b25;
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        font-weight: bolder;
        text-align: center;
        display: inline-block;
    }


/************************************/
/************************************/
/************************************/